body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  margin: 0;
}

.header {
  background-color: black;
  color: red;
  padding: 20px;
  font-size: 28px;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #222;
  border-radius: 10px;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card h3 {
  padding: 10px;
  margin: 0;
}

.btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #cc0000;
}

input {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 250px;
  border-radius: 4px;
  border: none;
}